<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Quoting Dojo</title>
      </head>
      <body>
            <div class="container">
                  <div class="heading">
                        <h1>Welcome to Quoting Dojo! (har har)</h1>
                  </div>
                  <div class="quotes">
                        <form action="/post_quote" method="post">
                              Your Name:<input type="text" name="name"><br><br>
                              Your Quote: <input type="textarea" rows="10" name="quote"><br><br>
                              <input type="submit" value="Add My Quote!">
                        </form>
                        <br>
                        <form action="/quotes" method="get">
                              <input type="submit" name="skip_to_quotes" value="Skip to Quotes!">
                        </form>
                  </div>
            </div>
      </body>
</html>
